<a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
    <div class="sidebar-brand-icon">
        <img src="@ViewData["urlLogo"]" style="width: auto ; max-width: 100%; max-height:60px" />
    </div>
</a>